<H1>Explications</H1>
<p>Le but est de comparer le nombre d'operation réaliser par Angular, avec et sans le mot clé Keyword</p>
<p>Doc Angular : https://angular.io/api/common/NgIf#storing-a-conditional-result-in-a-variable</p>
<p>En regardant la console, vous verez que le nombre d'opération est bien plus conséquent sans l'utilisation du AS</p>
<p></p>
Actions :
<ul>
  <li>Ouvrez la console</li>
  <li>Navigez dans le menu en haut à droite</li>
  <li>Constatez</li>
</ul>

<h2>Résultat</h2>
<p>Les nombres diffèrent :</p>
<p>Pour le composant PageSansKeywordComponent, le nombre d'opération est 304 </p>
<p>Pour le composant PageAvecKeywordComponent, le nombre d'opération est 92 </p>
<p>Alors que le rendu visuel est le meme et qu'il manipule les memes données, seul l'implementation du composant person change </p>
